body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("about 1.jpg");
    background-size: cover;
    color: white;
}

header {
    text-align: center;
    margin-top: 50px;
}

header h1 {
    color: #F02A71;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-content {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-content h2 {
    color: #F02A71;
}

.about-content span {
    color: #FAEDF0;
}

.about-content a {
    color: #FAEDF0;
    text-decoration: none;
}

.about-content a:hover {
    color: #D72323;
}

footer {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #F02A71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}
