body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #F02A71;
    color: white;
}

header h1 {
    margin: 0;
}

.certificates-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.certificate-card {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #FAEDF0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.certificate-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.certificate-card h2 {
    color: #F02A71;
    margin-top: 10px;
}

.certificate-card p {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #F02A71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}
